<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <admin>
            <emails>
                <sd_invalidate_admin_passwords_send_email>1</sd_invalidate_admin_passwords_send_email>
                <sd_invalidate_admin_passwords_password_reset_required_template>admin_emails_sd_invalidate_admin_passwords_password_reset_required_template</sd_invalidate_admin_passwords_password_reset_required_template>
            </emails>
        </admin>
    </default>
</config>
